@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}

table, tr, th, td{
    border: 1px gray solid;
    border-collapse: collapse;
    padding: 5px;
}
thead th{
    font-weight: bold;
}


thead th{
background-color: #628ca6;
 color: white;
}

thead th[colspan = "3"]{
    background-color: #7fb9c2 ;
    color: black;
}

tbody tr {
    background-color: #e7f0ed;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed ;
}

#highlight{
    background-color: #628ca6;
    color: white;
}

tfoot{
    background-color: #628ca6;
    font-size: .7em;
}

