@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,500,700,900&display=swap');

*{
    font-family: 'Raleway', sans-serif;  
}

body{
    min-width: 300px;
    background-image: url("/cit230/lesson4/images/preston-background.jpg");
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;

}

header{
    text-align: center;
    background-color: rgb(250, 250, 250);
    
}
header img{
    width: 300px;
}

header .white-logo{
    display: none;
}

header nav ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    
}

header nav a{
    display: block;
    padding: 10pt;
    text-transform: uppercase;
    letter-spacing: 3pt;
    border-top: 1px rgb(250, 250, 250) solid;
    background-color: #353535;
    text-decoration: none;
    color: white;
    font-size: .8em;
    transition: 0.7s;
}

header nav a:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(230, 230, 230);
    letter-spacing: 6pt;

}

nav a:visited{
    text-decoration: none;
    color: white;
}


.navigation li:first-child {
	display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
    opacity: 0;
    animation-name: menu;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
        @keyframes menu{
            0%{
                opacity: 0
            }
                
            100%{
                opacity: 1
            }
        }

#preston main{
    padding:25px;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;

}


#heroimg{
/* The image used */
    /* background-image: url("/cit230/lesson5/images/preston-cover.jpg"); */
    padding: 25px;

    min-height: 200px; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;

}

#heroimg h1{
    font-size: 3.6em;
    font-weight: 700;
    border-left: .2em solid rgb(0, 157, 230);
    padding-left: .3em;
    margin-top: 0px;
    color: white;
    text-shadow: 2px 2px 15px  #00000062;
  
}

#heroimg section{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10pt;
    color: white;
    display: inline-block;
    width: 200px;
}

#heroimg h2{
    text-transform: uppercase;
    font-size: .9em;
    margin-top: 0px;
    border-bottom: white 1px solid;
}

#heroimg p{
    margin: 2px;
    font-size: .8em;
    letter-spacing: 1pt;

}

main a:link{
    text-decoration: none;
    color: black;
}

main a:hover{
    text-decoration: none;
    color: rgb(0, 157, 230);
}

main a:visited{
    text-decoration: none;
    color: black;
}

.forecast5{
    display: none;
}

#digital-clock{
    font-size: 3em;
    padding: 15pt;
}

.section-container section{
    margin-bottom: 30pt;
}


.section-container h2{
    text-transform: uppercase;
    letter-spacing: 3pt;
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
    background-color: #353535;
    color: white;
    padding: 5pt 10pt;
    max-width: 350px;
    border-left: .5em solid rgb(0, 157, 230);

}

.section-container td, .section-container th{
    text-align: left;
    padding: 8pt;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.section-container article{
    padding: 25pt 15pt 15pt;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -25pt;
    border-radius: 0pt 10pt 10pt 10pt;
    line-height: 1.3em;
}

.article-date{
   margin-top: 0px;
   padding-bottom: 10px;
   display: block;
   font-weight: 700;
}

.section-container article img{
    width: 100%;
}


#contact iframe{
    display: none;
}

.section-container h3{
    font-size: 1em;
    margin: 0px;
}
.section-container address{
    font-style: normal;
    font-size: .9em;
    padding: 10px;
}


footer{
    background-color: #353535;
    margin:0px;
    padding: 10pt;
    color: white;
    text-align: center;
}

footer p{
    margin:5px;
}

/* LIVE COVER STYLE*/

.sunrise{
    background-image: url("/cit230/lesson5/images/live-cover/preston-sunrise.jpg");
}

.sunrise-pano{
    background-image: url("/cit230/lesson5/images/live-cover/preston-sunrise-pano.jpg");
}

.daytime{
    background-image: url("/cit230/lesson5/images/live-cover/preston-daytime.jpg");
}

.daytime-pano{
    background-image: url("/cit230/lesson5/images/live-cover/preston-daytime-pano.jpg");
}

.sunset{
    background-image: url("/cit230/lesson5/images/live-cover/preston-sunset.jpg");
}

.sunset-pano{
    background-image: url("/cit230/lesson5/images/live-cover/preston-sunset-pano.jpg");
}

.night{
    background-image: url("/cit230/lesson5/images/live-cover/preston-night.jpg");
}

.night-pano{
    background-image: url("/cit230/lesson5/images/live-cover/preston-night-pano.jpg");
}
