/* TABLET VIEW */
@media only screen and (min-width: 800px){

    .navigation-large{
        display: initial;
        position: fixed;
        right: 50px;
    }

    .mobile{
        display: none;
    }

    header label{
        display: none;
    }
    /* .deals-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20pt;
    } */

    .deals{
        max-width: 500px;

    }

    .deals div{
        transform: translateY(170px);

    }

    .amenities-wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        gap: 25px;
    }

    .trending-fig-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20pt;
    }
    
    .temple-info {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        column-gap: 20pt;
    }


    .services-fig-wrapper{
        grid-template-columns: 1fr 1fr;
        column-gap: 20pt;
    }

    #services-reception .deals-wrapper{
        grid-template-columns: 1fr 1fr;
        max-width: 1100px;
        margin: 0 auto;
    }

    #contact .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}

@media only screen and (min-width: 1000px){


    .deals div{
        transform: translateY(282px);

    }

    .deals:hover > div{
        backdrop-filter: brightness(0.2);
        transform: translateY(170px);
    }

    #reservation .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        vertical-align: top;
    }

}