/* ALL STYLES */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

/* Main Page Style : MOBILE */

*{
    font-family: 'Rubik', sans-serif;
}

h1{
    padding-left: .5em;
    color: rgba(40, 61, 89, 1);
    border-left: 0.2em solid rgba(40, 61, 89, 1);
    font-size: 2.4em;
    
}

h2{
    color: white;
    background-color: rgba(40, 61, 89, 1); 
    padding: 1em;
    margin: 0em;
    font-weight: 500;
    font-size: 1.75em;
    height: 2em;
    border-radius: 10px 10px 0px 0px;
}

h3{
    color: rgba(191, 84, 84, 1);
    margin-left: .8em;
    margin-bottom: .2em;
    margin-top: .5em;
    font-size: 1.4em;
    font-weight: 500;
}

p{
    color: rgba(40, 61, 89, 1);
    padding: 1.2em;
    height: 9em;
}
header{
    padding: 1em;
    min-width: 290px;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
}
section{
    background-color: rgba(216, 214, 214, .4);
    margin:0em .6em .6em .6em;
    padding-bottom: 2em;
    min-width: 290px;
    border-radius: 10px;
}
section img {
    width: 100%;
    margin-top: 1.2em;
}

/* Links Style  */

a{
    font-size: .8em;
    margin-left: 1.5em;
    margin-top: 2em;
    background-color: rgba(191, 84, 84, 1);
    padding: .3em 1em;
}

a:link{
    color:white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: none;
    background-color: rgb(243, 172, 172);

}
