/* ======================== FONTS ======================== */

@import url('https://fonts.googleapis.com/css?family=Barlow:500,700,800|Montserrat:500,600,800&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Barlow', sans-serif; */


/* ======================== HEADER & GENERAL STYLING ======================== */
html{
    font-family: 'Montserrat', sans-serif;
    color: #212121;
}

body{
    margin: 0;
    min-width: 300px;
}

main{
    padding-top: 40px;
}

/* EXTRA WHITE SPACE */

html {  box-sizing: border-box; }
*, *:before, *:after {  box-sizing: inherit; }


.main-navigation{
    font-size: 0px;
}
.main-navigation > *{
    font-size: 1rem;
}

p{
    font-family: 'Barlow', sans-serif; 
}



/* MENU */

.logo-wrapper{
    z-index: 10;
    position: fixed;
    padding: 10px;
    background-color: #212121;
    left: 40px;
}

.navigation-large{
    display: none;
    z-index: 10;
    list-style: none;
    margin-top: 22px;

}

.navigation-large li{
    display: inline-block;
    padding: 0 20px;

}

.navigation-large a{
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10pt;
    font-weight: 500;

}

.navigation-large a:hover{
    border-bottom: 2px solid #212121;
}



body input + label {
    position: fixed;
    top: 20px;
    right: 50px;
    height: 20px;
    width: 15px;
    z-index: 5;

}
body input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #212121;
    transition: 0.5s;
}
body input + label span:first-child {
    top: 3px;
}
body input + label span:last-child {
    top: 16px;
}
body label:hover {
    cursor: pointer;
}
body input:checked + label span {
    opacity: 0;
    top: 50%;
}
body input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
}
body input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}
body input ~ nav {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);

}
body input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    list-style: none;
}
body input ~ nav > ul > li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
}
body input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
    display: block;
    padding: 30px;
    font-weight: 600;
    letter-spacing: 2pt;
    transition: .2s ease-in-out;


}
body input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
}
body input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
}

.main-navigation a:hover{
    font-weight: 800;
    transition: .2s ease-in-out;
    letter-spacing: 4pt;

}

.active{
    font-weight: 800 !important;
}

/* ======================== HERO IMAGE ======================== */

.hero-img{
    padding: 0px 40px;
    height: 500px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

#home .hero-img{
    background-image: url('../images/peter-vanosdall-hawaii-unsplash.jpg');
}

.hero-img-text-wrap{
    position: absolute;
    bottom: 50px;
    max-width: 600px;
}

.hero-img h1{
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2pt;
    margin-top: 0px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.hero-img h3{
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 3pt;
    margin-bottom: 0px;
    color: #D3A839;
    background-color: #212121;
    padding: 5px 15px;
    display: inline-block;
}


.white-button{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px 20px;
    color: white;
    border: white 2px solid;
    letter-spacing: 2pt;
    transition: .2s ease-in-out;
    /* text-shadow: 0px 0px 20px rgba(0, 0, 0); */

}

.white-button:hover, .white-button:active{
    color: #212121;
    background-color: white;
    transition: .2s ease-in-out;
    /* text-shadow: none; */

}

/* ======================== MAIN ======================== */


.main-content{
    font-family: 'Barlow', sans-serif;
    background-color: #f3f3f3;
    padding: 40px 10px;
}

.main-content h1{
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
}

.main-content section{
    max-width: 1080px;
    margin: 0 auto;
}
/* ======================== Amenities ======================== */

.amenities-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    gap: 15px;
    margin-bottom: 40px;

}

.amenities-item{
    background-color: white;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    width: 100%;
}

.amenities-item img{
    width: 100px;
}

.amenities-item p{
    padding: 0 20px 10px;
    margin-top: 0;
    color: #757575;
    font-weight: bold;
    letter-spacing: 1pt;
}
/* ======================== Trending ======================== */


.trending figure{
    background-color: white;
    max-width: 400px;
    min-width: 250px;
    margin: auto;
    margin-bottom: 30px;
    height: 590px;
    position: relative;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);

}

figure img{
    width: 100%;
}

.trending-fig-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}

.trending-fig-wrapper figcaption{
    padding: 0 30px;
}

.trending a{
    bottom: 30px;
    position: absolute;
    left: 30px;
}

.trending-fig-wrapper ul{
    padding:0;
    list-style: none;
    margin-top: 5px;
}

.trending-fig-wrapper h3{
    margin-bottom: 0;
}


.black-button{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px 20px;
    color: #212121;
    border: #212121 2px solid;
    letter-spacing: 2pt;
    transition: .2s ease-in-out;
}

.black-button:hover, .black-button:active{
    color: white;
    background-color: #D3A839;
    border-color: #D3A839;
    transition: .2s ease-in-out;
}

/* ======================== Reputation ======================== */


.dark-section{
    background-color: #212121;
    color: white;
    text-align: center;
    padding: 20px 40px 50px;
    margin-bottom: 40px !important;
}

.dark-section h2{
    margin-bottom: 50px;
    font-weight: 700;
}

/* ======================== Popular Deals ======================== */

.deals-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}

.deals{
    min-width: 250px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    transition:  .3s ease-in-out;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);

}

.deals div{
    backdrop-filter: brightness(0.5);
    padding: 20px;
    cursor: pointer;
    height: 350px;
    transform: translateY(182px);
    transition: .5s;
}

.deals h2{
    margin: 0;
    letter-spacing: 1px;
}

#deal-1{
    background-image: url('../images/temples-families-mothers-youth.jpg');
    background-position: right;

}

#deal-2{
    background-image: url('../images/christopher-czermak-rome.jpg');
    background-position: center;

}

#deal-3{
    background-image: url('../images/temple-view-restaurant.jpg');
    background-position: center;

}



/* ======================== Footer ======================== */

footer{
    padding: 30px;
    text-align: center;
}

footer p{
    margin: 0;
}

footer p a{
    padding: 0;
}

footer hr{
    max-width: 800px;
    border: none;
    border-top: 1px solid #212121;
}
footer a{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    color: #808080;
    padding: 5px 15px;
}

footer a:hover{
    text-decoration: underline;
}

footer ul{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    color: #808080;
    list-style: none;
    padding: 0;
}

footer li{
    display: inline;
}

/* ================================================ */
/* ============== RESERVATION PAGE ================ */
/* ================================================ */

#reservation .header-img{
    background-image: url('../images/runnyrem-LfqmND-reservation-unsplash.jpg');
    background-position: center;

}

#reservation .main-content{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 70px;
}

#reservation .main-content h1{
    text-align: left;
}

form{
    max-width: 700px;
}

form p{
    margin: 3px 0;
    color: #909090
}

form label{
    display: block;
    font-size: .8em;
    font-weight: 800;
}

form>div{
    margin: 20px 0;
}

form input, form select{
    height: 3em;
    margin: 3px 0;
    padding: 10px;
    width: 100%;
}

form textarea{
    margin: 3px 0;
    padding: 10px;
    width: 100%;
}

form input[type="submit"], form input[type="button"]{
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px 20px;
    color: #212121;
    border: #212121 2px solid;
    letter-spacing: 2pt;
    transition: .2s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 10em;
}

form input[type="submit"]:hover, form input[type="submit"]:active, form input[type="button"]:hover, form input[type="button"]:active{
    color: white;
    background-color: #D3A839;
    border-color: #D3A839;
    transition: .2s ease-in-out;
}

#guest-room-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10pt;
}

.roomType-container{
    grid-column: 1/3;
}

#room-selection p{
    color: white;
    padding-left: 15pt;
}

.room-item{
    display: grid;
    padding: 10pt;
    background-color: #212121;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    margin-bottom: 5pt;
}

.btn {
    border: 1px solid white;
    color: white;
    padding: 2pt;
    font-size: 12pt;
    cursor: pointer;
    width: 20pt;
    height: 20pt;
    justify-self: end;
    background-color: #212121;
    border-radius: 50%;
  }
  
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #D3A839;
  }

/* ================================================ */
/* ================ TEMPLE PAGE =================== */
/* ================================================ */

.header-img{
    padding: 0px 40px;
    height: 260px;
    position: relative;
    background-size: cover;

}

#temple .header-img{
    background-image: url('../images/joshua-hoehne-temple-unsplash.jpg');
    background-position: center;

}

.header-img-text-wrap{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    max-width: 600px;
    text-align: center;

}

.header-img h1{
    font-size: 3.2em;
    text-transform: uppercase;
    letter-spacing: 2pt;
    margin-top: 0px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24);
}
.temple-container {
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px !important;

}
.temple-container h2{
    font-size: 2em;
    margin: 0;
    padding: 40px 50px;
    background-color: #212121;
    color: #D3A839;
}
.temple-container h3{
    font-size: 1.7em;
    margin-bottom: 10px;
    margin-top: 15px;
}

.temple-container h4{
    margin-bottom: 0;
    margin-top: 5px;
}

.temple-container ul{
    margin-top: 5px;
    list-style: square;
}
.temple-container h3:first-child{
    margin-top: 0;
}

.temple-info {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px 50px;

}

.temple-info p{
    margin: 0;
}

.temple-info a{
    color: #212121;
}
.temple-container img{
    width: 100%;
    margin-bottom: 30px;
}
.current-weather{
    background-color: #212121;
    color: white;
    padding: 20px;
    margin-bottom: 30px;

}
.current-weather h3{
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1pt;
    padding-bottom: 5px;
    border-bottom: 1px solid #f3f3f3;
}
.current-weather img{
    width: 70px;
    margin: 0;
}
.current-weather p{
    margin: 3px;
}

/* ================================================ */
/* =============== SERVICES PAGE ================== */
/* ================================================ */

#services .header-img{
    background-image: url('../images/louis-hansel-service-unsplash.jpg');
    background-position: center;

}

.special-services figure{
    background-color: white;
    max-width: 530px;
    min-width: 250px;
    margin: auto;
    margin-bottom: 30px;
    height: 550px;
    position: relative;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);

}

.services-fig-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}

.special-services h2{
    padding: 0 20px;
    margin: 10px;
}

.special-services p{
    padding: 0 20px;    
    margin: 10px 10px 50px;

}

.special-services a{
    bottom: 30px;
    position: absolute;
    left: 30px;
}

.contact-form-wrapper{
    padding: 0 40px;
}

.contact-form-wrapper h2{
    margin-top: 0;
}

#services-reception .header-img{
    background-image: url('../images/bruno-cervera-reception-unsplash-highres.jpg');
    background-position: center;

}

#services-missionary .header-img{
    background-image: url('../images/sister-missionaries-el-salvador-851709-mobile-highres.jpg');
    background-position: top;

}


#topnotch-catering{
    background-image: url('../images/asiya-kiev-caterunsplash.jpg');
    background-position: right;

}

#personalized-decor{
    background-image: url('../images/marc-babin-decor-reception-unsplash.jpg');
    background-position: center;

}

/* ================================================ */
/* ================ CONTACT PAGE ================== */
/* ================================================ */

#contact .header-img{
    background-image: url('../images/david-alpert-hotel-panounsplash.jpg');
    background-position: center;

}

#contact .map{
    margin: 0 30px;
}

#contact .map h2{
    margin-top: 0;
}

/* ================================================ */
/* ================ PROJECT PAGES ================= */
/* ================================================ */

.project{
    max-width: 800px;
    margin: 0 auto;
}