@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}

table, tr, th, td{
    border: 1px gray solid;
    border-collapse: collapse;
    padding: 10px;
}
table{
    /* -moz-box-shadow: 5px 5px 5px #ccc; 
    -webkit-box-shadow: 5px 5px 5px #ccc;  */
    box-shadow: 5px 5px 5px #628ca6 ; 
}

thead th{
    font-weight: 700;
}

tbody th,tfoot th{
    font-weight: 400;
}

thead th{
background-color: #628ca6;
 color: white;
}

thead th[colspan = "3"]{
    background-color: #7fb9c2 ;
    color: black;
    font-size: 1.5em;
}

tbody tr {
    background-color: #e7f0ed;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed ;
}

#highlight{
    background-color: #628ca6;
    color: white;
}

tfoot{
    background-color: #628ca6;
    font-size: .8em;
}

