/* MOBILE VIEW */

*{
    font-family: 'Merriweather', serif;
    text-align: center;
}

header{
    width: 100%;
}

section{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1.5em;
    margin: .5em;
    border-radius: 15px;
}

h2{
    margin: 5px 0;
}
p{
    margin: 5px 0;
}

img{
    width: 200px;
    height: auto;
    margin-top: 10px;
}


/* TABLET VIEW */
@media only screen and (min-width: 450px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 1200px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}