
/* BIG DESKTOP VIEW */

@media only screen and (min-width: 65em){
    header{
        border-bottom: none;
        display: flex;
        background-color: #353535;
        
    }

    header img{
        height: 65px;
        width: auto;
        margin-left: 1em;
    }

    header .black-logo{
        display: none;
    }

    header .white-logo{
        display: inherit;
    }

    header nav{
        margin-top: 1.5em;
        margin-left: 1.5em;
        
    }

    header li{
        display: inline !important;
    }

    header li:first-child{
        display: none !important;
    }

    header nav a{
        display: inline;
        border-top: none;
        font-size: .8em;
        font-weight: 400;
    }

    nav a:hover{
        background-color:white !important;
        letter-spacing: 3pt !important;
        color: black !important;
        }
 }