/* TABLET VIEW */

@media only screen and (min-width: 37.5em) and (max-width: 58em){

    body{
        text-align: center;
    }

    h1{
        border: none;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        }
    section{
       vertical-align: top;
       height: auto;
       text-align: left;
       margin: 0em;
   }
   section:nth-child(3){
    grid-row:2;
    grid-column: 1/3;
    display: inline-block;
   }

   section:nth-child(3) a{
       display: block;
       width: 10em;
       margin-top: .5em;
   }
   section:nth-child(3) img{
    display: inline-block;
    width: 45%;
    margin: 1.2em;
   }
   section:nth-child(3) p{
    width: 40%;
    display: inline-block;
    margin-top: 0em;
    vertical-align: top;
   }
}

/* DESKTOP VIEW */

@media only screen and (min-width: 58em) {

    body{
        text-align: center;
    }

    h1{
        border: none;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        }
    section{
        vertical-align: top;
        height: auto;
        text-align: left;
        margin: 0em;

    }
}