/* TABLET VIEW */

@media only screen and (min-width: 38em){
    nav{
        background-color: rgba(23,107,174,1);
        padding: 20px;
    }
    nav li{
        display: inline;
       
    }

    nav a{
        display: inline;
        border-top: none;
        border-right: 1px white solid;
        padding: 5pt;
        transition: 0.3s;
    }
    nav a:hover{
        background-color: rgba(23,107,174,1);
        letter-spacing: 3pt;
        font-weight: 800;
    }

    p{
        max-width: 350px;
    }

    #home main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}