@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

body{
    min-width: 300pt;
}
header{
    text-align: center;
    background: rgb(49,161,198);
    background: linear-gradient(180deg, rgba(49,161,198,1) 0%, rgba(23,107,174,1) 100%);
    padding: 14pt 14pt 5pt 14pt;
}
header img{
    width: 30%;
}

header h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    color:rgb(255, 255, 255);
}
header h2{
    text-transform: uppercase;
    letter-spacing: .8em;
    font-size: 1em;
    margin-top: 8pt;
    color: white;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
   
}

nav a{
    display: block;
    padding: 10pt;
    background-color: rgba(23,107,174,1);
    text-transform: uppercase;
    letter-spacing: 3pt;
    border-top: 1px white solid;
    text-decoration: none;
    color: white;
    transition: 0.7s;
}
nav a:hover{
    text-decoration: none;
    color: white;
    background-color:rgb(32, 120, 192);
    letter-spacing: 6pt;
}

nav a:visited{
    text-decoration: none;
    color: white;
}

h1{
    font-weight: 900;
    font-size: 2.4em;
    letter-spacing: 2pt;
    color: rgba(23,107,174,1);
}

h2{
    color: rgba(23,107,174,1);
    margin-top: 0px;
    margin-bottom: 5pt;
}

h3{
    color: rgba(23,107,174,1);
}

p{
    margin: 5pt 0pt 16pt 0pt;;
}

main{
    background-color: rgb(245, 245, 245);
}

section{
    padding: 15pt;
}

/* -------HOME PAGE------- */
#home main img{
    width: 100%;
}

#home section:nth-child(odd){
    background-color:  rgb(236, 236, 236);
}

/* -------TYPOGRAPHY PAGE------- */
#type-sample h1{
    margin-top: 0px;
} 

#type-sample{
    margin-top: -30pt;

} 

#type-sample ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 300pt;
}
#type-sample li{
    display: block;
    padding: 10pt;
    text-transform: uppercase;
    letter-spacing: 2pt;
    border-top: 1px rgb(0, 0, 0) solid;
    text-decoration: none;
    color: rgb(49, 49, 49);
}

#type-sample .foot-nav{
    background-color: #353535;
    color: white;
    text-transform: capitalize;
}

/* -------COLOR SCHEME PAGE------- */
#color-scheme .blue{
    background-color: rgba(23,107,174,1);
    color: white;
}

#color-scheme .black{
    background-color: black;
    color: white;
}

#color-scheme .dark-gray{
    background-color: #353535;
    color: white;
}

#color-scheme table {
    text-align: left;
}

#color-scheme th {
    padding: 15px;
}